[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "==4.13.4"
feedparser = "==6.0.11"
gspread = "==6.2.1"
"misskey.py" = "==4.1.0"
numpy = "==2.3.0"
oauth2client = "==4.1.3"
pillow = "==11.2.1"
python-opencv-utils = "==0.0.4"
tweepy = "==4.16.0"
typing-extensions = "*"
six = "*"
dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.10"

[scripts]
feed = "python feed/feed_test.py"
gyazo = "python gyazo.py"
