name: GitHub_Actions(weather)
on:
  workflow_dispatch:
  schedule:
    - cron: "0 22 * * 6"

env:  #環境変数から文字列(パスワードなど)を取得
  ACCESS_TOKEN: ${{secrets.ACCESS_TOKEN}}
  ACCESS_TOKEN_SECRET: ${{secrets.ACCESS_TOKEN_SECRET}}
  CONSUMER_KEY: ${{secrets.CONSUMER_KEY}}
  CONSUMER_SECRET: ${{secrets.CONSUMER_SECRET}}

jobs:
  python:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.6'
          architecture: 'x64'
      - run: |
          python -m pip install --upgrade pip
          pip install get-chrome-driver --upgrade
          sudo apt-get -y install fonts-ipafont-gothic
          pip install python-dotenv==0.19.2
          pip install selenium==3.141.0
          pip install pillow==8.4.0
          pip install tweepy==4.6.0
          python weather.py
